<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="position:top; text-align: center; font-size: 15px;"> 
      Sistemas de Informação 
  </div>
  <div id = "menu_home" style="margin-top:40px;">
    <img src="/resources/imagem.png"/>
  </div>
  <div id="menu_home">
    O Curso de Bacharelado em Sistemas de Informação teve seu funcionamento autorizado 
    pela MEC em junho de 2007, com 100 vagas anuais e reconhecido em novembro de 2011. 
    O curso propõe criar situações de ensino e aprendizagem que possibilitem ao aluno 
    antecipar-se às constantes inovações tecnológicas, identificando situações problema 
    e intervindo de forma a transforma-la em novos negócios.
  </div>
</ion-content>
